
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roast</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body class="body">
    <div class="app-container">
      <div class="main-title">Resume Roaster 🔥</div>
      <h1 class="roast-text">
        {{text}}
      </h1>
      <div class="social-text">
        Made with ❤️ by
        <a
          href="https://www.linkedin.com/in/annanyajain11?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          target="_blank"
          >Annanya</a
        >
      </div>
    </div>
  </body>
</html>